@tailwind base;
@tailwind components;
@tailwind utilities;

pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.85em;
}
pre {
  line-height: 17px;
}
span.line {
  height: 16px;
}

.prose :where(pre:has(.mermaid)):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  /* Add any other styles you want to reset or modify */
}
