@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --code-font-size: 0.85rem;
  --line-height: 1.25rem;
}

pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: var(--code-font-size);
}
pre {
  line-height: var(--line-height);
}
.line-number {
  height: var(--line-height);
}

.prose table {
  background: white;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
}

.prose.prose-sm pre.shiki code {
  max-width: 734px;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.prose :where(pre:has(.mermaid)):not(:where([class~="not-prose"] *)) {
  background-color: white;
  /* Add any other styles you want to reset or modify */
}
.prose pre:has(canvas) {
  background: white;
}

pre.shiki code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 1px 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

pre.shiki code .diff:before {
  position: absolute;
  left: 10px;
}

pre.shiki code .diff.remove {
  background-color: rgba(255, 100, 100, 0.2);
  opacity: 1;
}

pre.shiki code .diff.remove:before {
  content: "-";
  color: rgb(255, 100, 100);
}

pre.shiki code .diff.add {
  background-color: rgba(100, 255, 100, 0.2);
}

pre.shiki code .diff.add:before {
  content: "+";
  color: rgb(100, 255, 100);
}

pre.shiki code .highlighted {
  margin: 0px -24px;
  padding: 0px 24px;
  width: calc(100% + 48px);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
  /* background-color: rgba(100, 255, 100, 0.2); */
  opacity: 1;
}
